*.gmo
*.man
Makefile
Makefile.in
POTFILES
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
missing
org.mpris.MediaPlayer2.slimpris2.service
slimpris2
slimpris2.py
slimpris2.service
stamp-it
